# Environment Configuration
NODE_ENV="development"                  # Options: 'test', 'development', 'staging', 'production'
PORT="8080"                             # The port your server will listen on
HOST="localhost"                        # Hostname for the server

# CORS Settings
CORS_WHITELIST="*"                      # Allowed CORS origin, adjust as necessary

# Auth Settings
API_KEY="uk6XUcp7Hj6f4O+w6b<O"          # API Key for the server
